<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Category Details</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/Features-Image-images.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        function showData(id, name, description)
        {
            $('#id').val(id);
            $('#name').val(name);
            $('#description').val(description);
        }
    </script>
</head>

<body style="background: rgb(241,247,252);">

<script th:inline="javascript">
        var msg = [[${msg}]]

        if(msg != null)
        {
            swal("Add Category", msg, "success");
        }

        function filterTbl(input) {
		  var input, filter, table, tr, td, cell, i, j;
		  input = document.getElementById("tSearch");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("tbl");
		  tr = table.getElementsByTagName("tr");
		  for (i = 1; i < tr.length; i++) {
		    // Hide the row initially.
		    tr[i].style.display = "none";

		    td = tr[i].getElementsByTagName("td");
		    for (var j = 0; j < td.length; j++) {
		      cell = tr[i].getElementsByTagName("td")[j];
		      if (cell) {
		        if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
		          tr[i].style.display = "";
		          break;
		        }
		      }
		    }
		  }
		}

    </script>

    <div class="modal fade" role="dialog" tabindex="-1" id="modalAddNewItem" style="text-align: right;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: var(--bs-gray-400);">
                    <h2 class="modal-title" style="text-align: center;width: 100%;">Add Category</h2><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background: var(--bs-gray-200);">
                    <form method="post" action="/category/add/">
                        <div class="text-center mb-3">
                            <input type="hidden" id="id" name="id">
                            <input id="name" class="form-control" type="text"  placeholder="Enter Category Name" name="name" inputmode="numeric" th:value="${category?.name}" required="">
                            <textarea id="description" class="form-control" placeholder="Enter Category Description" name="description" th:value="${category?.description}" required=""></textarea></div>
                        <div class="mb-3"></div>
                        <div class="mb-3"></div>
                        <div class="mb-3">
                            <button class="btn btn-light" type="button" data-bs-dismiss="modal" style="margin-right: 10px;">Close</button>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="login-clean" style="padding-top: 20px;padding-bottom: 10px;">
        <div class="card" style="width: 95%;box-shadow: 3px 3px 7px var(--bs-gray-500);margin-right: auto;margin-left: auto;padding: 15px;">
            <div class="card-body" style="padding: 0px;">
<!--                <form method="get" action="/category/filter/">-->
                <div class="input-group" style="margin-bottom: 10px;"><button class="btn btn-success flash animated" id="btnNew" type="button" data-bs-target="#modalAddNewItem" data-bs-toggle="modal"><i class="fas fa-plus"></i>&nbsp;New</button>
                    <input class="form-control" id="tSearch" type="search" onkeydown="filterTbl()" placeholder="Search By Keyword" style="min-width: 100px;" autofocus=""><span class="flex-sm-wrap input-group-text">Max Records to Show</span><input class="form-control" type="number" value="10" name="maxRow" style="text-align: right;max-width: 100px;"></div>
<!--                </form>-->
                <div class="table-responsive">
                    <table class="table" id="tbl">
                        <thead>
                            <tr style="background: var(--bs-blue);color: var(--bs-table-border-color);">
                                <th style="text-align: center;">ID</th>
                                <th style="text-align: center;">Category Name</th>
                                <th style="text-align: center;">Category Description</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="category:${list}">
                                <td  th:text="${category.id}"style="text-align: center;"></td>
                                <td  th:text="${category.name}"></td>
                                <td  th:text="${category.description}" style="text-align: left;"></td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a th:href="@{/category/delete/{id}/(id = ${category.id})}" class="btn btn-danger" role="button " data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" data-bss-hover-animate="pulse" title="Delete"><i class="fas fa-trash"></i></a>
                                        <button class="btn btn-success" id="btnEdit" type="button" data-bs-target="#modalAddNewItem" data-bs-toggle="modal" th:onClick="showData([[${category.id}]], [[${category.name}]], [[${category.description}]])"><i class="fas fa-edit" ></i>&nbsp;</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/freelancer.js"></script>
</body>

</html>