
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Feedback</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/Bootstrap-4---Payment-Form.css">
    <link rel="stylesheet" href="/assets/css/Features-Image-images.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
</head>

<body>
<div th:replace="fragments.html :: topMenuBar"></div>

<section class="py-4 py-xl-5" style="padding-top: 20px;padding-bottom: 10px;margin-top:100px">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mb-5">
                    <div class="card-body p-sm-5">
                        <h2 class="text-center mb-4">Feedback</h2>
                        <form method="post" action="/feedback/add/">
                            <input type="hidden" id="id" name="id">
                            <div class="mb-3"><input class="form-control" type="text" id="name" name="name" placeholder="Name" th:value="${feedback?.name}" required></div>
                            <div class="mb-3"></div>
                            <div class="mb-3"><textarea class="form-control" type="text" id="message" name="message" rows="6" placeholder="Message" th:value="${feedback?.message}"  required></textarea></div>
                            <div><button class="btn btn-primary d-block w-100" type="submit">Send </button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="/assets/js/freelancer.js"></script>
<script src="/assets/js/Bootstrap-4---Payment-Form-script.js"></script>
</body>

</html>