<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Invoice</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra&amp;display=swap">
  <link rel="stylesheet" href="/assets/css/Bootstrap-4---Payment-Form.css">
  <link rel="stylesheet" href="/assets/css/Features-Image-images.css">
  <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">

</head>

<body style="margin-top: 20px;margin-right: 20px;margin-bottom: 20px;margin-left: 20px;padding: 10px;">
<h2 style="text-align: center;font-family: Montserrat, sans-serif;">INVOICE</h2>
<h2 style="text-align: center;font-family: 'Akaya Kanadaka', serif;border-style: none;">Tasty Bites</h2>
<div style="text-align: center;"><label class="form-label" style="font-family: Lato, sans-serif;margin-right: 20px;"><span style="font-weight: normal !important;">&nbsp;</span><strong>Email </strong><span style="font-weight: normal !important;">- tastybites@gmail.com</span></label><label class="form-label" style="margin-right: 10px;"><strong>Contact</strong> - +91 9988775566&nbsp;</label><label class="form-label" style="margin-right: 15px;"><strong>Address </strong>- Vengurla,Sindhudurg</label></div>
<hr>
<div class="d-md-flex d-lg-flex justify-content-md-start" style="text-align: left;">
  <div class="table-responsive text-end" style="width: 300px;">
    <table class="table table-borderless">
      <tbody>
      <tr>
        <td class="text-start"><strong>Invoice No. :</strong></td>
        <td class="text-start" th:text="${orders.id}"></td>
      </tr>
      <tr>
        <td class="text-start"><strong>Date :</strong></td>
        <td th:text="${date}" class="text-start"></td>
      </tr>
      <tr>
        <td class="text-start"><strong>Customer Name :</strong></td>
        <td th:text="${customer.name}" class="text-start"></td>
      </tr>

      <tr>
        <td class="text-start"><strong>Email Id :</strong></td>
        <td th:text="${customer.email}" class="text-start"></td>
      </tr>
      <tr>
        <td class="text-start"><strong>Contact :</strong></td>
        <td th:text="${customer.contact}" class="text-start"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="table-responsive" style="margin-top: 20px;border: 1px solid var(--bs-black);">
  <table class="table">
    <thead>
    <tr style="background: var(--bs-gray-500);">
      <th>Product</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="od : ${listCart}">
      <td th:text="${prodDao.getReferenceById(od.idProduct).getName()}">Cell 1</td>
      <td th:text="${prodDao.getReferenceById(od.idProduct).getPrice()}">Cell 2</td>
      <td th:text="${od.qty}">Cell 2</td>
      <td th:text="${prodDao.getReferenceById(od.idProduct).getPrice() * od.qty}">Cell 2</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="text-end d-flex d-sm-flex d-md-flex d-lg-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end">
  <div class="table-responsive text-end" style="width: 300px;">
    <table class="table table-borderless">
      <tbody>
      <tr>
        <td><strong>Subtotal :</strong></td>
        <td><strong th:text="${subTotal}">100</strong></td>
      </tr>
      <tr>
        <td>Tax :</td>
        <td th:text="${tax + '%'}">18%</td>
      </tr>
      <tr>
        <td><strong>Grand Total :</strong></td>
        <td><strong th:text="${grandTotal}" >118</strong></td>
      </tr>
      <tr>
        <td><strong>Paid :</strong></td>
        <td><strong th:text="${paid}">50</strong></td>
      </tr>
      <tr>
        <td>Balance :</td>
        <td th:text="${balance}">78</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<p style="text-align: center;"><strong>Thank you! Visit Again</strong></p>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="/assets/js/freelancer.js"></script>
<script src="/assets/js/Bootstrap-4---Payment-Form-script.js"></script>
</body>

</html>