<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Product Details</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/Features-Image-images.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        function showData(id, name, description, price, discount, idCategory, img)
        {
            $('#id').val(id);
            $('#name').val(name);
            $('#description').val(description);
            $('#price').val(price);
            $('#discount').val(discount);
            $('#idCategory').val(idCategory);
            $('#img').val(img);
        }
    </script>
</head>

<body style="background: rgb(241,247,252);">

<script th:inline="javascript">
        var msg = [[${msg}]]

        if(msg != null)
        {
            swal("Add Product", msg, "success");
        }
    </script>
    <div class="modal fade" role="dialog" tabindex="-1" id="modalAddNewItem" style="text-align: right;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: var(--bs-gray-400);">
                    <h2 class="modal-title" style="text-align: center;width: 100%;">Add food</h2><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background: var(--bs-gray-200);">
                    <form method="post" action="/product/add/" enctype="multipart/form-data">
                        <div class="text-center mb-3">
                            <input type="hidden" id="id" name="id">
                            <input id="name"  class="form-control" type="text" placeholder="Enter food title here" name="name" inputmode="numeric" th:value="${product?.name}" required="">
                            <textarea id="description" class="form-control" name="description" placeholder="Enter food description here" th:value="${product?.description}"></textarea>
                            <input id="price" class="form-control" type="text" placeholder="Enter food price here" inputmode="numeric" style="padding: 5px 12px;" name="price" th:value="${product?.price}" >
                            <input id="discount" class="form-control" type="text" placeholder="Food Discount in (%)" inputmode="numeric" style="padding: 5px 12px;" name="discount" th:value="${product?.discount}">
                            <select id="idCategory" class="form-select" name="idCategory">
                                <option th:each="cat : ${listCategory}" th:value="${cat.id}" th:text="${cat.name}"></option>
                            </select>

                            <label class="form-label text-start" style="width: 466px;">Select food pic</label>
                            <input id="img" class="form-control" type="file" name="file" accept="image/png, image/jpeg" required>
                        </div>
                        <div class="mb-3"><button class="btn btn-light" type="button"  data-bs-dismiss="modal" style="margin-right: 10px;">Close</button>
                            <button class="btn btn-primary" type="submit">Save</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="login-clean" style="padding-top: 20px;padding-bottom: 10px;">
        <div class="card" style="width: 95%;box-shadow: 3px 3px 7px var(--bs-gray-500);margin-right: auto;margin-left: auto;padding: 15px;">
            <div class="card-body" style="padding: 0px;">
                <div class="input-group" style="margin-bottom: 10px;"><button class="btn btn-success flash animated" id="btnNew" type="button" data-bs-target="#modalAddNewItem" data-bs-toggle="modal"><i class="fas fa-plus"></i>&nbsp;New</button><input class="form-control" type="search" placeholder="Search By Keyword" style="min-width: 100px;" autofocus=""><span class="flex-sm-wrap input-group-text">Max Records to Show</span><input class="form-control" type="number" value="10" name="maxRow" style="text-align: right;max-width: 100px;"></div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr style="background: var(--bs-blue);color: var(--bs-table-border-color);">
                                <th style="text-align: center;">Food Name</th>
                                <th style="text-align: center;">Food Image</th>
                                <th style="text-align: center;">Food Description</th>
                                <th style="text-align: center;">Food Category</th>
                                <th style="text-align: center;">Food Price</th>
                                <th style="text-align: center;">Food Discount</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product:${listProduct}" >
                                <td style="text-align: left;" th:text="${product.name}">Cell 1</td>
                                <td style="text-align: right;"> <img height="100px" width="100px" th:src="@{/assets/img/{imgName}/(imgName=${product.img})}"> </td>
                                <td style="text-align: left;" th:text="${product.description}">Cell 1</td>
                                <td style="text-align: left;" th:text="${catDao.getNameById(product.idCategory)}">Cell 1</td>
                                <td style="text-align: right;" th:text="${product.price}">Cell 1</td>
                                <td style="text-align: right;" th:text="${product.discount}">Cell 1</td>

                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-danger" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" data-bss-hover-animate="pulse" title="Delete" th:href="@{/product/delete/{id}/(id=${product.id})}">
                                            <i class="fas fa-trash"></i>
                                        </a>

                                        <button class="btn btn-success" id="btnEdit" type="button" title="Update" data-bs-target="#modalAddNewItem" data-bs-toggle="modal" th:onClick="showData([[${product.id}]], [[${product.name}]], [[${product.description}]], [[${product.price}]], [[${product.discount}]], [[${product.idCategory}]])"><i class="fas fa-edit" ></i>&nbsp;</button>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/freelancer.js"></script>
</body>

</html>